<div class= "center jumbotron poster">
  <h1>Welcome to Mt Pleasant Vacancies</h1>
  <h2>Please sing in and create your request</h2>
  
  <%= link_to "Sign in", "", class: "btn btn-lg btn-success " %>

</div>