<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<header>
  <div class= "container">
    <div class= "center jumbotron poster">
      <h1>Welcome to Mt Pleasant Vacancies</h1>
      <h2>Please sing in and create your request</h2>
  
      <%= link_to "Sign in", "", class: "btn btn-success " %>

    </div>
  </div>
</header>
<body>