@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 80px;
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover{
  color: white;
  text-decoration: none;
}


.nav_item{
  margin-left: 35px;
  float: left;
  margin-top: 20px;
  margin-right: 15px;
}

.nav_link {
  margin-right: 15px;
}


h1, h2, h3, h4, h5 {
  text-align: center;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
}